<!DOCTYPE html>
<html ng-app="poolersmx">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PoolersMx - Profile</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	 <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
   <link rel="stylesheet" href="stylesheets/main.css">

  </head>

  <body>

    <poolersmx-header></poolersmx-header>


  	<div class="container">
  	


		<div class="row">
			<div class="col-md-5">
			  <ol class="breadcrumb"> 
			    <li> <a href="/">Inicio</a></li>
			    <li> <a href="#">Perfil</a></li>
			    <!--<li class="active"> Articulo</li>-->
			  </ol>
			</div>
		</div>

  		<div class="row">
	  		
	  		<div class="col-xs-12 col-md-6 well col-md-offset-1">
	
				<ul class="list-group">
			  		<li class="list-group-item">
				   		<strong>Nombre: </strong>
				    	<span class="pull-right">
				              {{nombre}}
				      	</span>
			    	</li>
			  		<li class="list-group-item">
				   		<strong>Ciudad: </strong>
				    	<span class="pull-right">
				              {{ciudad}}
				      	</span>
			    	</li>
			  		<li class="list-group-item">
				   		<strong>Puntos: </strong>
				    	<span class="pull-right">
				              <span class="badge">54</span>
				      	</span>
				      	
			    	</li>

			</ul>



	  		</div>

			<div class="col-xs-12 col-md-3">
				
				<img src="http://lorempixel.com/400/400/" class="img-responsive img-rounded">
				<p>	<h1 class="text-primary">Cesar CA</h1> </p>
				<br>
				<button class="btn btn-block btn-info"> Editar Perfil </button>
		  	</div>
		 </div>
    </div>


   <footer>
     <div class="container">
          <p class="text-muted">Copyright (c) 2015 , Carpool-Mx </p>
      </div>
  </footer> 


	<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="javascripts/lib/angular.min.js"></script>
    <script src="javascripts/lib/angular-route.min.js"></script>
    <!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>-->
    <script src="javascripts/app.js"></script>
    <script src="javascripts/controllers.js"></script>
    <script src="javascripts/directives.js"></script>
    <script src="javascripts/services.js"></script>

  </body>
</html>