
<div class="panel panel-default">  

  <div class="panel-body">
    <form name="registerForm" role="register">
        <fieldset>

          <div class="form-group">
            <input class="form-control" placeholder="Nombre" type="text" ng-model="name" required>
          </div>
          <div class="form-group">
            <input class="form-control" placeholder="Apellido" type="text" ng-model="lastName" required>
          </div>
          <div class="form-group">
            <input class="form-control" placeholder="Correo" type="email" ng-model="email" required>
          </div>
          <div class="form-group">
            <input class="form-control" placeholder="Usuario" type="text" ng-model="user" required>
          </div>
          <div class="form-group">
            <input class="form-control" placeholder="Contraseña" type="password" ng-model="password" required>
          </div>

          <div>
              <button class="btn btn-success" ng-click="saveUser()" >Crear cuenta</button>
          </div>

      </fieldset>
    </form>
  </div>

</div>